{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {% if app.flashes('success') %}
        <div class="alert alert-success">
            {{ app.flashes('success')[0] }}
        </div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(form) }}
{% endblock %}